body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: url("background.png") no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

nav {
    background: #003366;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    background-color: aquamarine;
}

.clubs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.club-card {
    flex: 1 1 300px;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.club-card:hover {
    transform: scale(1.05);
    background: #e0f0ff;
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }
}
.nghe-thuat{
    background: url("background-1.png") no-repeat center;
    background-size: 66.67%;
    color: black;
    text-align: center;
    padding: 80px 20px;
}
.ky-nang-song{
    background: url("ky-nang-song.webp") no-repeat center;
    background-size: 66.67%;
    color: black;
    text-align: center;
    padding: 80px 20px;
}
.tin-hoc{
    background: url("tin-hoc.webp") no-repeat center;
    background-size: 80%;
    color: black;
    text-align: center;
    padding: 80px 20px;
}
.club-card-nghe-thuat{
    display: block;
    color: black;
    text-decoration: none;
}
.club-card-ky-nang-song{
    display: block;
    color: black;
    text-decoration: none;
}
.club-card-tin-hoc{
    display: block;
    color: black;
    text-decoration: none;
}
